.button {

    -fx-text-fill: #4DB6AC;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 20;
    -fx-font-weight: bold;
}

.button:hover {

    -fx-text-fill: white;
    -fx-background-color: #4DB6AC;
    -fx-border-color:#4DB6AC;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #00000080, 10, 0, 0, 5);
}

.button:pressed {

    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color:#4DB6AC;
}

.text-field {

    -fx-border-width: 0.5;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-background-radius: 20 20 20;
}

.text-field:focused {

    -fx-background-color: black;
    -fx-caret-color: white;
    -fx-text-fill: #4DB6AC;
    -fx-effect: dropshadow(gaussian, #00000080, 10, 0, 0, 5);
}
